@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  background-color: #3F3F3F;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(236, 236, 236);
  position: relative;
}

.HyeJung {
  font-size: 500%;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.topBar {
  display: flex;
  background-color: whitesmoke;
}

.frontend {
  width: 50%;
  padding: 30px;
}

.folder {
  width: 50%;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.aboutMeContent {
  background-color: #656565;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  
}

.titleAboutMe {
  width: 100%;
  height: fit-content;
  font-size: 200%;
  margin-left: 5%;
  margin-top: 2%;
}

.img {
  width: 20%;
  height: fit-content;
}
